<div class="page-content">
    <div class="profile-header-photo" style="background-image: url({{ packet.foto_packet }})">
        <div class="profile-header-photo-in">
            <div class="tbl-cell">
                <div class="info-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                                <div class="tbl info-tbl">
                                    <div class="tbl-row">
                                        <div class="tbl-cell">
                                            <p class="title">Dan Counsell</p>
                                            <p>Company Founder</p>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">{{widget_active.total}}</p>
                                                <p>Support Active</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">{{widget_total.total}}</p>
                                                <p>Total Sale</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">{{widget_ticket.total}}</p>
                                                <p>Ticket</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="change-cover">
            <i class="font-icon font-icon-picture-double"></i>
            Change cover
            <input type="file" file-model="file_cover">
            <button ng-show="file_cover" ng-click="changeCover('cover')" class="btn btn-sm" style="position: absolute; top: 22px; right: 30px;">Update</button>
        </button>
    </div><!--.profile-header-photo-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <aside class="profile-side">
                    <section class="box-typical cover profile-side-user">
                        <button type="button" class="avatar-preview">
                            <img src="{{packet.thum_packet}}" alt=""/>
                            <span class="update">
									<i class="font-icon font-icon-picture-double"></i>
									Update photo
								</span>
                            <input type="file" file-model="file_thum">
                            <button ng-show="file_thum" ng-click="changeThum('thum')" class="btn btn-sm">Update</button>
                        </button>
                    </section>
                    <section class="box-typical profile-side-user">
                        <div class="bottom-txt">Status: {{packet.status_packet}}</div>
                    </section>

                    <!--Info-->
                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">Info
                            <div class="pull-right">
                                <a ui-sref="app.packet.management.detail.add_info" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </header>
                        <div class="box-typical-inner">
                            <p ng-repeat="x in detail_infos" class="line-with-icon">
                                <i class="fa {{x.icon}}"></i> &nbsp;
                                {{x.detail_packet}}
                                <a class="pull-right" ng-click="deleteInfo(x.id_packet_detail)"><i class="fa fa-trash"></i></a>
                            </p>

                        </div>
                    </section>
                    <!--Goal-->
                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">goal
                            <div class="pull-right">
                                <a ui-sref="app.packet.management.detail.add_goal" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </header>
                        <div class="box-typical-inner">
                            <p ng-repeat="x in detail_goals" class="line-with-icon">
                                <i class="fa {{x.icon}}"></i> &nbsp;
                                {{x.goal}}
                                <a class="pull-right" ng-click="deleteGoal(x.id_packet_goal)"><i class="fa fa-trash"></i></a>
                            </p>

                        </div>
                    </section>
                    
                    <!--Requirement-->
                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">requirement
                            <div class="pull-right">
                                <a ui-sref="app.packet.management.detail.add_requirement" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </header>
                        <div class="box-typical-inner">
                            <p ng-repeat="x in detail_requirements" class="line-with-icon">
                                <i class="fa {{x.icon}}"></i> &nbsp;
                                {{x.requirement}}
                                <a class="pull-right" ng-click="deleteRequirement(x.id_packet_requirements)"><i class="fa fa-trash"></i></a>
                            </p>

                        </div>
                    </section>

                    <!--ABOUT-->
                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">About Packet</header>
                        <div class="box-typical-inner">
                            <p>{{packet.description_packet}}</p>
                            <hr>
                            <p>{{packet.excerpt_packet}}</p>
                        </div>
                    </section>





                </aside><!--.profile-side-->
            </div>

            <div class="col-xl-9 col-lg-8">
                <section class="tabs-section">
                    <div class="tabs-section-nav tabs-section-nav-left">
                        <ul class="nav" role="tablist" ng-init="tabsDrdnActive = 1">
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.packet.management.detail.book" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Books</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.packet.management.detail.sale" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Sale</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.packet.management.detail.content" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Ticket</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.packet.management.detail.category" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Category</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.packet.management.detail.income" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Income</span>
                                </a>
                            </li>

                        </ul>
                    </div><!--.tabs-section-nav-->

                    <div class="tab-content no-styled profile-tabs">

                        <div class="tab-pane active">
                            <div class="box-typical">
                                <ui-view></ui-view>
                            </div>
                        </div>

                    </div><!--.tab-content-->
                </section><!--.tabs-section-->
            </div>
        </div><!--.row-->
    </div><!--.container-fluid-->
</div><!--.page-content-->