
<header class="box-typical-header-sm">
    List of Book
    <div class="pull-right">
        <button class="btn btn-info btn-sm" ng-click="actionFilter()"><i class="fa fa-list"></i> Show Content </button>
        <button class="btn btn-primary btn-sm" ng-click="addBookToPacket()"><i class="fa fa-plus"></i> Add to Packet </button>
        <button class="btn btn-default btn-sm" ui-sref="app.packet.management.detail.book_add"><i class="fa fa-plus"></i> Back </button>
    </div>
</header>

<div class="p-2">
    <article ng-repeat="x in books" class="box-typical profile-post" style="border-top: 1px solid #d8e2e7">
        <div class="profile-post-content">
            <div class="tbl profile-post-card">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-photo">
                        <a ui-sref="app.book.management.detail({id_book:x.id_book})">
                            <img src="{{x.thum_cover_url}}" alt="">
                        </a>
                    </div>
                    <div class="tbl-cell">
                        <p class="title"><a ui-sref="app.book.management.detail({id_book:x.id_book})">{{x.title_book}}</a></p>
                        <p>Published Date {{x.date_publish | Mydate}}</p>
                        <p>{{x.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-typical-footer profile-post-meta">
            <div class="checkbox-bird">
                <input type="checkbox" id="pemilik_kapal{{x.id_book}}"
                       checklist-model="id_book" checklist-value="x.id_book">
                <label for="pemilik_kapal{{x.id_book}}">Select</label>
            </div>
            <!--<input class="form-control" ng-model="order" >-->
        </div>
    </article>

</div>