<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.packet.management.edit'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Packet</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.packet.management">List</a></li>
                            <li class="active">edit</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.packet.management" type="button" class="btn btn-rounded btn-default btn-block">Close</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    edit Packet
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >name_packet</label>
                        <input type="text" class="form-control" ng-model="packet.name_packet">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >excerpt_packet</label>
                        <textarea required class="form-control" ng-model="packet.excerpt_packet"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >description_packet</label>
                        <textarea required class="form-control" ng-model="packet.description_packet"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_company</label>
                        <select class="form-control select2" required="" select2 ng-model="packet.id_company"
                                ng-options="x.id_company as x.name_company for x in companies">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>


                    <fieldset class="form-group">
                        <label class="form-label semibold" >price</label>
                        <input type="number" class="form-control" ng-model="packet.price">
                    </fieldset>

                    <hr>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >date_publish</label>
                        <input type="text" datepicker="" class="form-control" ng-model="packet.date_publish">
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-xl-2">
                            <label class="form-label">status_packet</label>
                        </div>
                        <div class="col-xl-4">
                            <div class="checkbox-bird">
                                <input type="radio" value="active" name="book_content_type" ng-model="packet.status_packet" id="check-bird-html">
                                <label for="check-bird-html">Active</label>
                            </div>
                            <div class="checkbox-bird">
                                <input type="radio" value="inactive" name="book_content_type" ng-model="packet.status_packet" id="check-bird-video">
                                <label for="check-bird-video">inaActive</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>