
<div class="p-2">
    <article ng-repeat="x in packets" class="box-typical profile-post" style="border-top: 1px solid #d8e2e7">
        <div class="profile-post-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="tbl profile-post-card">
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-photo">
                                <a target="_blank" ui-sref="app.packet.management.detail({id_packet:x.id_packet})">
                                    <img src="{{x.thum_packet}}" alt="">
                                </a>
                            </div>
                            <div class="tbl-cell">
                                <p class="title"><a target="_blank" ui-sref="app.packet.management.detail({id_packet:x.id_packet})">{{x.name_packet}}</a></p>
                                <p>Published Date {{x.date_publish | Mydate}}</p>
                                <p>{{x.description_packet}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 chart-legend-tbl">
                    <div class="tbl">
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-legend">
                                <div class="dot orange"></div>
                                Purchase Date <span class="color-blue-grey-lighter"></span>
                            </div>
                            <div class="tbl-cell tbl-cell-value">{{x.date_purchase | Mydate}}</div>
                        </div>
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-legend">
                                <div class="dot green"></div>
                                date_accept <span class="color-blue-grey-lighter"></span>
                            </div>
                            <div class="tbl-cell tbl-cell-value">{{x.date_accept | Mydate}}</div>
                        </div>
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-legend">
                                <div class="dot red"></div>
                                price <span class="color-blue-grey-lighter">(Rp)</span>
                            </div>
                            <div class="tbl-cell tbl-cell-value">{{x.price_packet_sale | currency:"Rp."}}</div>
                        </div>
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-legend">
                                <div class="dot red"></div>
                                amount_paid <span class="color-blue-grey-lighter">(Rp)</span>
                            </div>
                            <div class="tbl-cell tbl-cell-value">{{x.amount_paid | currency:"Rp."}}</div>
                        </div>
                    </div>


                </div>
            </div>

            <hr>
            <h2>Riwayat Support</h2>
            <div>
                <table class="tbl-typical">
                    <tbody>
                    <tr>
                        <th>
                            <div>Status</div>
                        </th>
                        <th>
                            <div>Batas Aktif</div>
                        </th>
                        <th >
                            <div>Tanggal Bayar</div>
                        </th>
                        <th >
                            <div>Tanggal Aktif</div>
                        </th>
                    </tr>
                    <tr ng-repeat="y in x.support">
                        <td>
                            <span class="label label-{{y.status | status_bg }}">{{y.status | status }}</span>
                        </td>
                        <td>{{y.date_end | Mydate}}</td>
                        <td>{{y.date_purchase | Mydate}}</td>
                        <td>{{y.date_accept | Mydate}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="box-typical-footer profile-post-meta">
            <a href="#" class="meta-item">
                <i class="font-icon font-icon-comment"></i>
                18 Ticket
            </a>
        </div>
    </article>

</div>