<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.member.report'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Member</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <!--<button ui-sref="app.member.management.add" type="button" class="btn btn-rounded btn-block">Create</button>-->
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                Report
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Total</th>
                        <th>Active</th>
                        <th>Inactive</th>
                        <th>Suspend</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td>
                            <a ui-sref="app.member.management({id_company:x.id_company, status_member : 'all'})">{{x.name_company}}</a>
                        </td>
                        <td>{{x.total}}</td>
                        <td>
                            <a ui-sref="app.member.management({id_company:x.id_company, status_member : 'active'})">{{x.active}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.member.management({id_company:x.id_company, status_member : 'inactive'})">{{x.inactive}}</a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>