<form ng-submit="submitForm()">
    <section class="card mb-3 card-xs">
        <header class="card-header card-header-lg">
            Add new Info
        </header>
        <div class="card-block">
            <fieldset class="form-group">
                <label class="form-label semibold">order_detail</label>
                <input type="number" class="form-control" ng-model="info_detail.order_detail">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label semibold">icon</label>
                <input type="text" class="form-control" ng-model="info_detail.icon">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label semibold">detail_packet</label>
                <input type="text" class="form-control" ng-model="info_detail.detail_packet">
            </fieldset>

        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
        </div>
    </section>
</form>