<link rel="stylesheet" href="assets/css/separate/pages/login.min.css">
<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box" ng-submit="login()">
                <div class="sign-avatar">
                    <img src="assets/img/avatar-sign.png" alt="">
                </div>
                <header class="sign-title">Sign In</header>
                <div class="form-group">
                    <input type="mail" ng-model="user.email" class="form-control" placeholder="E-Mail or Phone"/>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="user.password" class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="checkbox float-left">
                        <input type="checkbox" id="signed-in"/>
                        <label for="signed-in">Keep me signed in</label>
                    </div>
                    <div class="float-right reset">
                        <a href="reset-password.html">Reset Password</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-rounded">Sign in</button>
                <!--<button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
            </form>
        </div>
    </div>
</div><!--.page-center-->
<script type="text/javascript" src="assets/js2/lib/match-height/jquery.matchHeight.min.js"></script>
<script>
    $(function() {
        $('.page-center').matchHeight({
            target: $('html')
        });

        $(window).resize(function(){
            setTimeout(function(){
                $('.page-center').matchHeight({ remove: true });
                $('.page-center').matchHeight({
                    target: $('html')
                });
            },100);
        });
    });
</script>