<form ng-submit="submitForm()">
    <section class="card mb-3 card-xs">
        <header class="card-header card-header-lg">
            Add new Sale
        </header>
        <div class="card-block">
            <fieldset class="form-group">
                <label class="form-label semibold" >time_support</label>
                <input type="number" required="" class="form-control" ng-model="sale.time_support">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label semibold" >price_packet_sale</label>
                <input type="number" required="" class="form-control" ng-model="sale.price_packet_sale">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label semibold" >efective_date</label>
                <input type="text" required="" class="form-control" datepicker="" ng-model="sale.efective_date">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label semibold" >promo_text</label>
                <textarea required="" class="form-control" ng-model="sale.promo_text"></textarea>
            </fieldset> 
            <div class="form-group row">
                <div class="col-xl-8">
                    <label class="form-label">is_priority</label>
                </div>
                <div class="col-xl-4">
                    <div class="checkbox-bird">
                        <input type="radio" value="1" name="is_priority" ng-model="sale.is_priority" id="check-bird-html">
                        <label for="check-bird-html">Yes</label>
                    </div>
                    <div class="checkbox-bird">
                        <input type="radio" value="0" name="is_priority" ng-model="sale.is_priority" id="check-bird-video">
                        <label for="check-bird-video">No</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
        </div>

    </section>
</form>