<header class="box-typical-header-sm">
    List of Content
    <div class="pull-right">
        <button class="btn btn-info btn-sm"
                ui-sref="app.packet.management.detail.sale.add"><i
                class="fa fa-plus"></i> New Sale
        </button>
    </div>
</header>

<ui-view></ui-view>

<div class="p-2">

    <table class="tbl-typical">
        <tbody>
        <tr>
            <th>
                <div>Status</div>
            </th>
            <th>
                <div>is_priority</div>
            </th>
            <th align="right">
                <div>time_support</div>
            </th>
            <th align="right">
                <div>price_packet_sale</div>
            </th>
            <th align="center">
                <div>efective_date</div>
            </th>
            <th>
                <div>promo_text</div>
            </th>
            <!--<th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>-->
        </tr>
        <tr ng-repeat="x in packet_saless">
            <td ng-init="num = $indek+1">
                <span class="label label-success">{{x.status_packet_sale }}</span>
            </td>
            <td>{{x.is_priority}}</td>
            <td>{{x.time_support}}</td>
            <td>{{x.price_packet_sale | currency}}</td>
            <td>{{x.efective_date | Mydate}}</td>
            <td>{{x.promo_text}}</td>

        </tr>

        </tbody>
    </table>
</div>