<header class="box-typical-header-sm">
    List of Content
    <!--<div class="pull-right">-->
        <!--<button class="btn btn-info btn-sm"-->
                <!--ui-sref="app.packet.management.detail.sale.add"><i-->
                <!--class="fa fa-plus"></i> New Sale-->
        <!--</button>-->
    <!--</div>-->
</header>

<ui-view></ui-view>

<div class="p-2">

    <table class="tbl-typical">
        <tbody>
        <tr>
            <th>
                <div>Status</div>
            </th>
            <th>
                <div>name_category</div>
            </th>
            <th>
                <div>description_category</div>
            </th>
            <!--<th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>-->
        </tr>
        <tr ng-repeat="x in packet_categories">
            <td ng-init="num = $indek+1">
                <div class="checkbox-bird">
                    <input type="checkbox" checklist-model="categorys"
                           checklist-value="x.id_packet_master_category"  id="check-bird-video{{x.id_packet_master_category}}" ng-click="changeCategory()">
                    <label for="check-bird-video{{x.id_packet_master_category}}">&nbsp;</label>
                </div>

                <!--<input type="checkbox" id="pemilik_kapal{{x.id_book}}"-->
                       <!--checklist-model="id_book" checklist-value="x.id_book">-->
                <!--<label for="pemilik_kapal{{x.id_book}}">Select</label>-->
            </td>
            <td>{{x.name_category}}</td>
            <td>{{x.description_category}}</td>

        </tr>

        </tbody>
    </table>
</div>