.card-md{
    margin: 0 auto;
    max-width: 720px;
}
.card-xs{
    margin: 0 auto;
    max-width: 520px;
}
.bootstrap-table .table a, .fixed-table-body .table a, .table a
{
    border: none;
}

.cover .avatar-preview img {
    border-radius: 0;
}

.profile-side .cover.box-typical{
    padding: 0!important;
}


.cover.profile-side-user .avatar-preview
{
    margin-bottom: 0px !important;
}

.side-menu-list ul a{
    padding-left: 45px;
}

