<header class="box-typical-header-sm">
    Income per Month
    <div class="pull-right">
        <div class="dropdown">
             <form>
                 <div class="row">
                     <div class="col-md-8">
                         <input class="form-control" ng-model="income_tahun">
                     </div>
                     <div class="col-md-4">
                         <button type="submit" class="btn btn-primary">Filter</button>
                     </div>
                 </div>
             </form>
        </div>
    </div>
</header>

<ui-view></ui-view>


<div class="p-2">

    <table class="tbl-typical">
        <tbody>
        <tr >
            <th>
                &nbsp;
            </th>
            <th ng-repeat="n in [] | range:12">
                <div>{{(n+1) | monthName}}</div>
            </th>
            <th>
                Total
            </th>
            <!--<th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>-->
        </tr>
        <tr ng-repeat="x in incomes">
            <td>
                Sale
            </td>
            <td>
                {{x.total_harga_1 }}
            </td>
            <td>
                {{x.total_harga_2 }}
            </td>
            <td>
                {{x.total_harga_3 }}
            </td>
            <td>
                {{x.total_harga_4 }}
            </td>
            <td>
                {{x.total_harga_5 }}
            </td>
            <td>
                {{x.total_harga_6 }}
            </td>
            <td>
                {{x.total_harga_7 }}
            </td>
            <td>
                {{x.total_harga_8 }}
            </td>
            <td>
                {{x.total_harga_9 }}
            </td>
            <td>
                {{x.total_harga_10 }}
            </td>
            <td>
                {{x.total_harga_11 }}
            </td>
            <td>
                {{x.total_harga_12 }}
            </td>
            <td>
                {{x.total }}
            </td>
        </tr>
        <tr ng-repeat="x in incomes">
            <td>
                Income
            </td>
            <td>
                {{x.total_jual_1 | currency:''}}
            </td>
            <td>
                {{x.total_jual_2 | currency:''}}
            </td>
            <td>
                {{x.total_jual_3 | currency:''}}
            </td>
            <td>
                {{x.total_jual_4 | currency:''}}
            </td>
            <td>
                {{x.total_jual_5 | currency:''}}
            </td>
            <td>
                {{x.total_jual_6 | currency:''}}
            </td>
            <td>
                {{x.total_jual_7 | currency:''}}
            </td>
            <td>
                {{x.total_jual_8 | currency:''}}
            </td>
            <td>
                {{x.total_jual_9 | currency:''}}
            </td>
            <td>
                {{x.total_jual_10 | currency:''}}
            </td>
            <td>
                {{x.total_jual_11 | currency:''}}
            </td>
            <td>
                {{x.total_jual_12 | currency:'' }}
            </td>
            <td>
                {{x.total_price | currency:'Rp.' }}
            </td>
        </tr>

        </tbody>
    </table>
</div>
