<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.purchase.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>purchase</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.purchase.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List purchase
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>status_purchase</th>
                        <th>email</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>for_module</th>
                        <th>name_packet</th>
                        <th>date_purchase</th>
                        <th>price_purchase</th>
                        <th>amount_paid</th>
                        <th>date_confirm</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td><label class="label label-{{x.amount_paid > 0 ? 'active' : 'pending' |status_bg}} ">{{x.amount_paid > 0 ? 'Active' : 'pending'}}</label></td>
                        <td>{{x.email}}</td>
                        <td>{{x.first_name}}</td>
                        <td>{{x.last_name}}</td>
                        <td>{{x.for_module}}</td>
                        <td>{{x.name_packet}}</td>
                        <td>{{x.date_purchase}}</td>
                        <td>{{x.price_purchase}}</td>
                        <td>{{x.amount_paid}}</td>
                        <td>{{x.date_confirm}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.purchase.management.detail({id_purchase:x.id_purchase})">view</a>
                                    <a class="dropdown-item" ui-sref="app.purchase.management.edit({id_purchase:x.id_purchase})">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>