
<div class="p-2">
    <article ng-repeat="x in books" class="box-typical profile-post" style="border-top: 1px solid #d8e2e7">
        <div class="profile-post-content">
            <div class="tbl profile-post-card">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-photo">
                        <a ui-sref="app.book.management.detail({id_book:x.id_book})">
                            <img src="{{x.thum_cover_url}}" alt="">
                        </a>
                    </div>
                    <div class="tbl-cell">
                        <p class="title"><a ui-sref="app.book.management.detail({id_book:x.id_book})">{{x.title_book}}</a></p>
                        <p>Published Date {{x.date_publish | Mydate}}</p>
                        <p>{{x.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-typical-footer profile-post-meta">
            <a href="#" class="meta-item">
                <i class="font-icon font-icon-comment"></i>
                18 Ticket
            </a>
        </div>
    </article>

</div>