<ui-view></ui-view>
<div class="page-content">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>purchase</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.purchase.management">List</a></li>
                            <li class="active">Detail</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.purchase.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    Detail purchase
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_purchase</label>
                        ##{{purchase.id_purchase}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >first_name</label>
                        {{purchase.first_name}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >last_name</label>
                        {{purchase.last_name}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >email</label>
                        {{purchase.email}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >phone_member</label>
                        {{purchase.phone_member}}
                    </fieldset>
                    <hr>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >foto_confirm</label>
                        <img class="" src="{{purchase.foto_confirm}}">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >transfer_form_chanel</label>
                        {{purchase.transfer_form_chanel}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >transfer_form_name</label>
                        {{purchase.transfer_form_name}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >value_paid</label>
                        {{purchase.value_paid | currency:'Rp.'}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >date_confirm</label>
                        {{purchase.date_confirm | Mydate}}
                    </fieldset>
                    <hr>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >name_packet</label>
                        {{purchase.name_packet}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >date_purchase</label>
                        {{purchase.date_purchase}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >UNIQUE_code</label>
                        {{purchase.UNIQUE_code}}
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >price_purchase</label>
                        {{purchase.price_purchase | currency:'Rp.' }}
                    </fieldset>
                    <hr>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >amount_paid</label>
                        <input required type="text" class="form-control" ng-model="purchase.amount_paid">
                    </fieldset>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>