<div class="footer">
    <div class="float-right">
        Aircraft Maintenance Information Management Sytems
    </div>
    <div>
        <strong>Copyright</strong> PT. Derazona Air Service © 2018
    </div>
</div>