<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu" side-navigation="">
    <ul class="side-menu-list">

        <li class="red">
            <a href="mail.html">
                <i class="font-icon font-icon-dashboard"></i>
                <span class="lbl">Dashboard</span>
            </a>
        </li>
        <li ng-class="{active: $state.includes('member')}" class="gold with-sub">
	            <span>
	                <i class="font-icon font-icon-users-group"></i>
	                <span class="lbl">Member</span>
	            </span>
            <ul>
                <li ui-sref-active="active" ><a ui-sref="app.member.report"><span class="lbl">Management</span></a></li>
                <!--<li><a href="ui-buttons.html"><span class="lbl">Buttons</span></a></li> -->
            </ul>
        </li>

        <li ng-class="{active: $state.includes('publisher')}" class="gold with-sub">
	            <span>
	                <i class="font-icon font-icon-weather-umbrella"></i>
	                <span class="lbl">Publisher</span>
	            </span>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.publisher.management"><span class="lbl">Management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.publisher.team"><span class="lbl">Team</span></a></li>
            </ul>
        </li>

        <li ng-class="{active: $state.includes('publisher')}" class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-book"></span>
	                <span class="lbl">Books</span>
	            </span>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.book.management"><span class="lbl">Management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.book.category"><span class="lbl">Category*</span></a></li>
            </ul>
        </li>

        <li class="red" ui-sref-active="active">
            <a ui-sref="app.ticket.management">
                <i class="font-icon font-icon-mail"></i>
                <span class="lbl">Ticket</span>
            </a>
        </li>

        <li ng-class="{active: $state.includes('packet')}" class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-certificate"></span>
	                <span class="lbl">Packet</span>
	            </span>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.packet.management"><span class="lbl">Management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.packet.category"><span class="lbl">Category</span></a></li>
            </ul>
        </li>

        <li ng-class="{active: $state.includes('purchase')}" class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-shopping-cart"></span>
	                <span class="lbl">Purchase</span>
	            </span>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.purchase.management"><span class="lbl">Management</span></a></li>
            </ul>
        </li>

        <li ng-class="{active: $state.includes('company')}" class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-btc"></span>
	                <span class="lbl">Company</span>
	            </span>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.company.management"><span class="lbl">Management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.company.category"><span class="lbl">Category</span></a></li>
            </ul>
        </li>


        <li class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-certificate"></span>
	                <span class="lbl">App Config</span>
	            </span>
            <ul>
                <li><a href="email_templates.html"><span class="lbl">Email Templates</span></a></li>
                <li><a href="blank.html"><span class="lbl">Blank</span></a></li>
            </ul>
        </li>

        <li class="grey with-sub">
	            <span>
	                <span class="glyphicon glyphicon-certificate"></span>
	                <span class="lbl">Users</span>
	            </span>
            <ul>
                <li><a href="email_templates.html"><span class="lbl">Email Templates</span></a></li>
                <li><a href="blank.html"><span class="lbl">Blank</span></a></li>
            </ul>
        </li>

    </ul>

    <!--<section>-->
        <!--<header class="side-menu-title">Tags</header>-->
        <!--<ul class="side-menu-list">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="tag-color green"></i>-->
                    <!--<span class="lbl">Website</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="tag-color grey-blue"></i>-->
                    <!--<span class="lbl">Bugs/Errors</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="tag-color red"></i>-->
                    <!--<span class="lbl">General Problem</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="tag-color pink"></i>-->
                    <!--<span class="lbl">Questions</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="tag-color orange"></i>-->
                    <!--<span class="lbl">Ideas</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</section>-->
</nav><!--.side-menu-->

