<div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open">
    <div class="sidebar-container" full-scroll>

        <div class="sidebar-container">

            <div class="sidebar-title">
                <h3> <em class="fa fa-comments-o"></em> Log </h3>
                <small><i class="fa fa-tim"></i> User activity</small>
            </div>

            <ul class="sidebar-list">
                <li>
                    <a href="#">
                        <span class="label label-primary float-right">NEW</span>
                        <h4>Edhi Soeharto</h4>
                        Approve New <strong>PO 00009383</strong>.

                        <div class="small text-muted m-t-xs">4:00 pm - 12.06.2018</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-primary float-right">NEW</span>
                        <h4>Nursanti</h4>
                        Add New <strong>PO 00009383</strong>.

                        <div class="small text-muted m-t-xs">4:00 pm - 12.06.2018</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-primary float-right">NEW</span>
                        <h4>Nursanti</h4>
                        Login.

                        <div class="small">Submitted by : <strong>Moko</strong>.</div>
                        <div class="small text-muted m-t-xs">4:00 pm - 12.06.2018</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="small float-right m-t-xs">9 hours ago</div>
                        <h4>Franky Simaremare</h4>
                        Approved <strong>PRIS 1200032</strong>.

                        <div class="small text-muted m-t-xs">4:00 pm - 12.06.2018</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="small float-right m-t-xs">9 hours ago</div>
                        <h4>Purwanto</h4>
                        Checked <strong>PO 00074832</strong>.

                        <div class="small text-muted m-t-xs">1:00 pm - 2.06.2018</div>
                    </a>
                </li>
                <li>
                    <div class="text-center link-block">
                        <a href="log.html">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>

        </div>


    </div>
</div>