<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.ticket.team.edit'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Team</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.ticket.team">List</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.ticket.team.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    Add new Team
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >name_ticket_team</label>
                        <input type="text" required class="form-control" ng-model="team.name_ticket_team">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >description_ticket_team</label>
                        <textarea required class="form-control" ng-model="team.description_ticket_team"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >for_company</label>
                        <select class="form-control select2" required="" select2 ng-change="getticket()" ng-model="team.for_company"
                                ng-options="x.id_company as x.name_company for x in companies">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_ticket_team_leader</label>
                        <select class="form-control select2" required="" select2 ng-model="team.id_ticket_team_leader"
                                ng-options="x.id_ticket as (x.first_name + ' ' + x.last_name) for x in tickets">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>

                    <table class="table table-light table-light table-bordered">
                        <thead>
                        <tr>
                            <th width="40px">#</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in tickets">
                            <td>
                                <div class="checkbox-bird">
                                    <input type="checkbox" id="pemilik_kapal{{x.id_ticket}}"
                                           checklist-model="id_ticket" checklist-value="x.id_ticket">
                                    <label for="pemilik_kapal{{x.id_ticket}}">&nbsp;</label>
                                </div>
                            </td>
                            <td for="pemilik_kapal{{x.id_ticket}}">{{x.first_name}} {{x.last_name}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>