<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.company.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>company</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.company.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List company
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>status_company</th>
                        <th>name_company</th>
                        <th>about_company</th>
                        <th>phone_company</th>
                        <th>address_company</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td><label class="label label-info">{{x.status_company}}</label></td>
                        <td>{{x.name_company}}</td>
                        <td>{{x.about_company}}</td>
                        <td>{{x.phone_company}}</td>
                        <td>{{x.address_company}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.company.management.detail({id_company:x.id_company})">view</a>
                                    <a class="dropdown-item" ui-sref="app.company.management.edit({id_company:x.id_company})">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>