<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.publisher.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Publisher</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.publisher.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List Publisher
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>title_publisher</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>public_name</th>
                        <th>phone_number</th>
                        <th>mail_publisher</th>
                        <th>name_company</th>
                        <th>user_created</th>
                        <th>join_date</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td>{{x.title_publisher}}</td>
                        <td>{{x.first_name}}</td>
                        <td>{{x.last_name}}</td>
                        <td>{{x.public_name}}</td>
                        <td>{{x.phone_number}}</td>
                        <td>{{x.mail_publisher}}</td>
                        <td>{{x.name_company}}</td>
                        <td>{{x.user_created}}</td>
                        <td>{{x.join_date}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.publisher.management.detail({id_publisher:x.id_publisher})">view</a>
                                    <a class="dropdown-item" ui-sref="app.publisher.management.edit({id_publisher:x.id_publisher})">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>