<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.member.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Member</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.member.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List Member
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>status_member</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>last_education</th>
                        <th>phone_member</th>
                        <th>poscode_member</th>
                        <th>address_member</th>
                        <th>register_form</th>
                        <th>created_at</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td><label class="label label-info">{{x.status_member}}</label></td>
                        <td>{{x.first_name}}</td>
                        <td>{{x.last_name}}</td>
                        <td>{{x.last_education}}</td>
                        <td>{{x.phone_member}}</td>
                        <td>{{x.poscode_member}}</td>
                        <td>{{x.address_member}}</td>
                        <td>{{x.register_form}}</td>
                        <td>{{x.created_at}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.member.management.detail({id_member:x.id_member})">view</a>
                                    <a class="dropdown-item" ui-sref="app.member.management.edit({id_member:x.id_member})">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>