<div class="page-content">
    <div class="profile-header-photo" style="background-image: url({{ member.foto_member }})">
        <div class="profile-header-photo-in">
            <div class="tbl-cell">
                <div class="info-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                                <div class="tbl info-tbl">
                                    <div class="tbl-row">
                                        <div class="tbl-cell">
                                            <p class="title">Dan Counsell</p>
                                            <p>Company Founder</p>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">23К</p>
                                                <p>Followers</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">938</p>
                                                <p>Photos</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">18</p>
                                                <p>Videos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="change-cover">
            <i class="font-icon font-icon-picture-double"></i>
            Change cover
            <input type="file" file-model="file_cover">
            <button ng-show="file_cover" ng-click="changeCover('cover')" class="btn btn-sm" style="position: absolute; top: 22px; right: 30px;">Update</button>
        </button>
    </div><!--.profile-header-photo-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <aside class="profile-side">
                    <section class="box-typical cover profile-side-user">
                        <button type="button" class="avatar-preview">
                            <img src="{{member.thum_member}}" alt=""/>
                            <span class="update">
									<i class="font-icon font-icon-picture-double"></i>
									Update photo
								</span>
                            <input type="file" file-model="file_thum">
                            <button ng-show="file_thum" ng-click="changeThum('thum')" class="btn btn-sm">Update</button>
                        </button>
                    </section>
                    <section class="box-typical profile-side-user">
                        <div class="bottom-txt">Status: {{member.status_member}}</div>
                    </section>


                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">Personal</header>
                        <div class="box-typical-inner">
                            <p class="">
                                <b>first_name</b><br>
                                {{member.first_name | capitalize}}
                            </p>
                            <p class="">
                                <b>last_name</b><br>
                                {{member.last_name | capitalize}}
                            </p>
                            <p class="">
                                <b>last_education</b><br>
                                {{member.last_education}}
                            </p>
                            <p class="">
                                <b>phone_member</b><br>
                                {{member.phone_member }}
                            </p>
                            <p class="">
                                <b>poscode_member</b><br>
                                {{member.poscode_member }}
                            </p>
                            <p class="">
                                <b>email_member</b><br>
                                {{member.email_member }}
                            </p>
                            <p class="">
                                <b>address_member</b><br>
                                {{member.address_member }}
                            </p>
                            <p class="">
                                <b>register_form</b><br>
                                {{member.register_form }}
                            </p>
                            <p class="">
                                <b>created_at</b><br>
                                {{member.created_at | Mydate }}
                            </p>

                        </div>
                    </section>

                </aside>
            </div>

            <div class="col-xl-9 col-lg-8">
                <section class="tabs-section">
                    <div class="tabs-section-nav tabs-section-nav-left">
                        <ul class="nav" role="tablist" ng-init="tabsDrdnActive = 1">
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.member.management.detail.packet" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Packet</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.book.management.detail.content" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Ticket</span>
                                </a>
                            </li>
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" ui-sref-active="active" ui-sref="app.book.management.detail.content" role="tab"-->
                                   <!--data-toggle="tab">-->
                                    <!--<span class="nav-link-in">Support</span>-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>
                    </div><!--.tabs-section-nav-->

                    <div class="tab-content no-styled profile-tabs">

                        <div class="tab-pane active">
                            <div class="box-typical">
                                <ui-view></ui-view>
                            </div>
                        </div>

                    </div><!--.tab-content-->
                </section><!--.tabs-section-->
            </div>
        </div><!--.row-->
    </div><!--.container-fluid-->
</div><!--.page-content-->