<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.member.management.edit'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Member</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.member.management">List</a></li>
                            <li class="active">edit</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.member.management" type="button" class="btn btn-rounded btn-default btn-block">Close</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    edit Member
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >first_name</label>
                        <input type="text" class="form-control" ng-model="member.first_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >last_name</label>
                        <input type="text" class="form-control" ng-model="member.last_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >last_education</label>
                        <input type="text" class="form-control" ng-model="member.last_education">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >phone_member</label>
                        <input type="text" class="form-control" ng-model="member.phone_member">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >poscode_member</label>
                        <input type="text" class="form-control" ng-model="member.poscode_member">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >email_member</label>
                        <input type="text" class="form-control" ng-model="member.email_member">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >address_member</label>
                        <textarea  class="form-control" ng-model="member.address_member"></textarea>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-xl-8">
                            <label class="form-label">status_member</label>
                        </div>
                        <div class="col-xl-4">
                            <div class="checkbox-bird">
                                <input type="radio" value="Active" name="member" ng-model="member.status_member" id="check-bird-html">
                                <label for="check-bird-html">Active</label>
                            </div>
                            <div class="checkbox-bird">
                                <input type="radio" value="inActive" name="member" ng-model="member.status_member" id="check-bird-video">
                                <label for="check-bird-video">inActive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>