
<header class="box-typical-header-sm">
     List of Ticket
    <div class="pull-right">
        <button class="btn btn-info btn-sm" ng-click="getTicket('open')"><i class="fa fa-folder-open"></i> Open </button>
        <button class="btn btn-info btn-sm" ng-click="getTicket('close')"><i class="fa fa-folder"></i> Close </button>
    </div>
</header>
<div class="box-typical-body panel-body">
    <table class="table" my-data-table="">
        <tr>
         <th>Status</th>
         <th>Name</th>
         <th>Tanggal</th>
         <th>Pertanyaan</th>
         <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
        </tr>
        <tbody>
        <tr ng-repeat="x in list_ticket">
            <td>
                <label class="btn btn-sm btn-{{x.ticket_status | status_bg}}">{{x.ticket_status}}</label>
            </td>
            <td>{{x.name}}</td>
            <td>{{x.created_at | Mydate}}</td>
            <td>{{x.title_ticket}}</td>
            <td class="text-right">
                <div class="dropdown">
                    <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" ui-sref="app.book.management.detail.ticket_detail({id_ticket:x.id_ticket})">view</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>