<article class="box-typical profile-post">
    <div class="profile-post-header">
        <div class="user-card-row">
            <div class="tbl-row">
                <div class="tbl-cell tbl-cell-photo">
                    <a href="#">
                        <img src="http://via.placeholder.com/100x100.jpg" alt="">
                    </a>
                </div>
                <div class="tbl-cell">
                    <div class="user-card-row-name"><a href="#">Tim Collins</a></div>
                    <div class="color-blue-grey-lighter">{{detail_ticket.created_at}}</div>
                </div>
            </div>
        </div>
        <a target="_blank" ui-sref="app.book.management.detail.content({id_book:detail_ticket.id_book})" class="shared">
            <i class="font-icon font-icon-share"></i>
            {{detail_ticket.ticket_status}}
        </a>
        <i><b>From: </b> {{detail_ticket.ticket_content}}</i>
    </div>
    <div class="profile-post-content">
        <h6 class="profile-post-content-note">{{detail_ticket.title_ticket}}</h6>
        <p>{{detail_ticket.ticket_content}}</p>
    </div>
    <div class="box-typical-footer profile-post-meta">

        <a href="#" class="meta-item">
            <i class="font-icon font-icon-comment"></i>
            {{ticket_answers.length}} Comment
        </a>
    </div>
    <div class="comment-rows-container hover-action scrollable-block ">

        <div class="comment-row-item" ng-repeat="x in ticket_answers" style="background: {{curren_user.id == x.id_user ? '#fff' :'#c3ddff'}}">
            <div class="avatar-preview avatar-preview-32">
                <a href="#">
                    <img src="http://via.placeholder.com/100x100.jpg" alt="">
                </a>
            </div>
            <div class="tbl comment-row-item-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-name">{{x.name}}</div>
                    <div class="tbl-cell tbl-cell-date">{{x.date_answer}}</div>
                </div>
            </div>
            <div class="comment-row-item-content " style="">
                <p>{{x.answer}}</p>
                <button type="button" class="comment-row-item-action edit">
                    <i class="font-icon font-icon-pencil"></i>
                </button>
                <button ng-click="delete_answere(x.id_ticket_answer)" type="button" class="comment-row-item-action del">
                    <i class="font-icon font-icon-trash"></i>
                </button>
            </div>
        </div>


    </div><!--.comment-rows-container-->
    <form ng-submit="submitFormAnswere()">
        <input type="text" class="write-something" ng-model="answer.answer" placeholder="Leave a comment">
        <div class="box-typical-footer">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <button type="button" class="btn-icon">
                            <i class="font-icon font-icon-earth"></i>
                        </button>
                        <button type="button" class="btn-icon">
                            <i class="font-icon font-icon-picture"></i>
                        </button>
                        <button type="button" class="btn-icon">
                            <i class="font-icon font-icon-calend"></i>
                        </button>
                        <button type="button" class="btn-icon">
                            <i class="font-icon font-icon-video-fill"></i>
                        </button>
                    </div>
                    <div class="tbl-cell tbl-cell-action">
                        <button type="submit" class="btn btn-rounded">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>