<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.packet.category.add'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Category</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.packet.category">List</a></li>
                            <li class="active">add</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.packet.category.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    Add new Category
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >name_category</label>
                        <input type="text" required class="form-control" ng-model="category.name_category">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >description_packet_category</label>
                        <textarea required class="form-control" ng-model="category.description_category"></textarea>
                    </fieldset>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>