<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.packet.category'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Category</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.packet.category.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3" style="max-width: 850px; margin: 0 auto">
            <header class="card-header card-header-lg">
                List Category
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>name_category</th>
                        <th>description_category</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td>{{x.name_category}}</td>
                        <td>{{x.description_category}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.packet.category.detail({id_packet_master_category:x.id_packet_master_category})">view</a>
                                    <a class="dropdown-item" ui-sref="app.packet.category.edit({id_packet_master_category:x.id_packet_master_category})">Edit</a>
                                    <a class="dropdown-item" ng-click="delete(x.id_packet_master_category)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>