<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.book.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>book</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.book.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List book
            </header>
            <div class="card-block">
                <table my-data-table="" class="display nowrap table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>status</th>
                        <th>title_book</th>
                        <th>date_publish</th>
                        <th>user_created</th>
                        <th>Publisher</th>
                        <th>Company</th>
                        <th>org_price</th>
                        <th>actual_price</th>
                        <th>description</th>
                        <th>promotional_text</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td>
                            <label class="label label-{{x.status | status_bg}}">{{x.status}}</label>
                        </td>
                        <td>{{x.title_book}}</td>
                        <td>{{x.date_publish | Mydate}}</td>
                        <td>{{x.user_input}}</td>
                        <td>{{x.public_name}} /{{x.phone_number}} /{{x.mail_book}}</td>
                        <td>{{x.name_company}}/ {{x.phone_company}}</td>
                        <td>{{x.org_price | currency:"Rp."}}</td>
                        <td>{{x.actual_price | currency:"Rp."}}</td>
                        <td>{{x.description}}</td>
                        <td>{{x.promotional_text}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.book.management.detail({id_book:x.id_book})">view</a>
                                    <a class="dropdown-item" ui-sref="app.book.management.edit({id_book:x.id_book})">Edit</a>
                                    <a ng-if="x.status=='draft'" class="dropdown-item" ng-click="delete(x.id_book)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>