<form ng-submit="saveContent()">
    <section class="box-typical-section">
        <header class="box-typical-header-sm">Edit Content</header>
    </section>
    <section class="box-typical-section">
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">order_book_content</label>
            </div>
            <div class="col-xl-4">
                <input class="form-control" type="number" ng-model="content.order_book_content" value="1">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">time_book_content (Hours)</label>
            </div>
            <div class="col-xl-4">
                <input class="form-control" type="number" ng-model="content.time_book_content" value="1">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">title_book_content</label>
            </div>
            <div class="col-xl-4">
                <input class="form-control" required type="text" ng-model="content.title_book_content">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">book_content_type</label>
            </div>
            <div class="col-xl-4">
                <div class="checkbox-bird">
                    <input type="radio" value="html" name="book_content_type" ng-model="content.book_content_type" id="check-bird-html">
                    <label for="check-bird-html">Html</label>
                </div>
                <div class="checkbox-bird">
                    <input type="radio" value="video" name="book_content_type" ng-model="content.book_content_type" id="check-bird-video">
                    <label for="check-bird-video">Video</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">book_content</label>
            </div>
            <div class="col-xl-10">
                <textarea ui-tinymce="tinymceOptions" class="form-control" ng-model="content.book_content"></textarea>
            </div>
        </div>

    </section>

    <section class="box-typical-section profile-settings-btns">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" ui-sref="app.book.management.detail.content" class="btn btn-default">Back</button>
    </section>
</form>