
<header class="box-typical-header-sm">
    List of Content
    <div class="pull-right">
        <button class="btn btn-info btn-sm" ng-click="actionFilter()"><i class="fa fa-list"></i> Show Content </button>
        <button class="btn btn-info btn-sm" ui-sref="app.book.management.detail.section_add"><i class="fa fa-plus"></i> New Section </button>
    </div>
</header>

<article class="profile-info-item" ng-repeat="x in sections">
    <header class="profile-info-item-header">

        <div class="row">
            <div class="col-md-6">
                <i class="font-icon font-icon-case"></i>
                {{x.book_section}}
            </div>
            <div class="col-md-6 text-right">
                <div class="dropdown">
                    <button class="btn btn-sm btn-inline dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" ui-sref="app.book.management.detail.content_add({id_book_section:x.id_book_section})"><i class="fa fa-plus"></i> Add Content</a>
                        <a class="dropdown-item" ui-sref="app.book.management.detail.section_edit({id_book_section:x.id_book_section})"><i class="fa fa-pencil"></i> Edit</a>
                        <a class="dropdown-item" ng-click="deleteSection(x.id_book_section)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <div class="text-block text-block-typical" ng-if="x.description_book_section">
        {{x.description_book_section}}
        <hr>
    </div>
    <ul class="exp-timeline">
        <li class="exp-timeline-item" ng-repeat="content in x.content">
            <div class="dot"></div>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="exp-timeline-range">{{content.title_book_content}}</div>
                        <div class="exp-timeline-status"><i class="fa fa-clock-o"></i> {{content.time_book_content}} Hours</div>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" ui-sref="app.book.management.detail.content_edit({id_book_content:content.id_book_content})"><i class="fa fa-pencil"></i> Edit</a>
                                <a class="dropdown-item" ng-click="deletContent(content.id_book_content)"><i class="fa fa-trash"></i> Delete</a>
                            </div>
                        </div>
                    </div>


                    <div class="text-block text-block-typical" ng-show="toglefilter">
                        <div ng-bind-html="content.book_content"></div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</article>