<div class="page-content">
    <div class="profile-header-photo" style="background-image: url({{ book.cover_url }})">
        <div class="profile-header-photo-in">
            <div class="tbl-cell">
                <div class="info-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                                <div class="tbl info-tbl">
                                    <div class="tbl-row">
                                        <div class="tbl-cell">
                                            <p class="title">Dan Counsell</p>
                                            <p>Company Founder</p>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">23К</p>
                                                <p>All Member</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">938</p>
                                                <p>Member Active</p>
                                            </div>
                                        </div>
                                        <div class="tbl-cell tbl-cell-stat">
                                            <div class="inline-block">
                                                <p class="title">18</p>
                                                <p>Ticket Open</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="change-cover">
            <i class="font-icon font-icon-picture-double"></i>
            Change cover
            <input type="file" file-model="file_cover">
            <button ng-show="file_cover" ng-click="changeCover('cover')" class="btn btn-sm" style="position: absolute; top: 22px; right: 30px;">Update</button>
        </button>
    </div><!--.profile-header-photo-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <aside class="profile-side ">
                    <section class="box-typical cover profile-side-user">
                        <button type="button" class="avatar-preview">
                            <img src="{{book.thum_cover_url}}" alt=""/>
                            <span class="update">
									<i class="font-icon font-icon-picture-double"></i>
									Update photo
								</span>
                            <input type="file" file-model="file_thum">
                            <button ng-show="file_thum" ng-click="changeThum('thum')" class="btn btn-sm">Update</button>
                        </button>
                    </section>
                    <section class="box-typical profile-side-user">
                        <div class="bottom-txt">Status: {{book.status}}</div>
                    </section>


                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">Personal</header>
                        <div class="box-typical-inner">
                            <p class="">
                                <b>title_book</b><br>
                                {{book.title_book | capitalize}}
                            </p>
                            <p class="">
                                <b>first_name</b><br>
                                {{book.first_name | capitalize}}
                            </p>
                            <p class="">
                                <b>last_name</b><br>
                                {{book.last_name | capitalize}}
                            </p>
                            <p class="">
                                <b>public_name</b><br>
                                {{book.public_name | capitalize}}
                            </p>
                            <p class="">
                                <b>phone_number</b><br>
                                {{book.phone_number }}
                            </p>
                            <p class="">
                                <b>mail_book</b><br>
                                {{book.mail_book }}
                            </p>
                            <p class="">
                                <b>join_date</b><br>
                                {{book.join_date | Mydate }}
                            </p>

                        </div>
                    </section>

                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">About Ustad</header>
                        <div class="box-typical-inner">
                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula
                                porta felis euismod semper.</p>
                        </div>
                    </section>


                    <section class="box-typical">
                        <header class="box-typical-header-sm bordered">Info Company</header>
                        <div class="box-typical-inner">
                            <p class="line-with-icon">
                                <i class="font-icon font-icon-build"></i>
                                {{book.name_company}}
                            </p>
                            <p class="line-with-icon">
                                <i class="font-icon font-icon-pin-2"></i>
                                {{book.address_company}}
                            </p>
                            <p class="line-with-icon">
                                <i class="font-icon font-icon-users-two"></i>
                                Group1, Group2
                            </p>

                            <p class="line-with-icon">
                                <i class="font-icon font-icon-github"></i>
                                <a href="#">Nickname</a>
                            </p>
                            <p class="line-with-icon">
                                <i class="font-icon font-icon-earth"></i>
                                <a href="#">example.com</a>
                            </p>
                            <p class="line-with-icon">
                                <i class="font-icon font-icon-calend"></i>
                                Registered 8 month ago
                            </p>
                        </div>
                    </section>

                    <!--<section class="box-typical">-->
                        <!--<header class="box-typical-header-sm bordered">Skills</header>-->
                        <!--<div class="box-typical-inner">-->
                            <!--<div class="progress-compact-style">-->
                                <!--<div class="progress-header">-->
                                    <!--<div class="progress-lbl">AngularJS</div>-->
                                    <!--<div class="progress-val">75%</div>-->
                                <!--</div>-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar progress-aquamarine" role="progressbar" style="width: 75%;"-->
                                         <!--aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="progress-compact-style">-->
                                <!--<div class="progress-header">-->
                                    <!--<div class="progress-lbl">Javascript</div>-->
                                    <!--<div class="progress-val">100%</div>-->
                                <!--</div>-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar progress-danger" role="progressbar" style="width: 50%;"-->
                                         <!--aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="progress-compact-style">-->
                                <!--<div class="progress-header">-->
                                    <!--<div class="progress-lbl">Wordpress</div>-->
                                    <!--<div class="progress-val">50%</div>-->
                                <!--</div>-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar progress-info" role="progressbar" style="width: 50%;"-->
                                         <!--aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="progress-compact-style">-->
                                <!--<div class="progress-header">-->
                                    <!--<div class="progress-lbl">HTML &amp; CSS</div>-->
                                    <!--<div class="progress-val">10%</div>-->
                                <!--</div>-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar progress-aquamarine" role="progressbar" style="width: 10%;"-->
                                         <!--aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</section>-->
                </aside><!--.profile-side-->
            </div>

            <div class="col-xl-9 col-lg-8">
                <section class="tabs-section">
                    <div class="tabs-section-nav tabs-section-nav-left">
                        <ul class="nav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" ui-sref-active="active" ui-sref="app.book.management.detail.content" role="tab"
                                   data-toggle="tab">
                                    <span class="nav-link-in">Contents</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" ng-class="{active: tabsDrdnActive === 2}"
                                   ng-click="tabsDrdnActive = 2" role="tab" data-toggle="tab">
                                    <span class="nav-link-in">Team</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-class="{active: tabsDrdnActive === 3}"
                                   ng-click="tabsDrdnActive = 3" role="tab" data-toggle="tab">
                                    <span class="nav-link-in">Student</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a ui-sref="app.book.management.detail.ticket" data-toggle="tab">
                                    <span class="nav-link-in">Ticket</span>
                                </a>
                            </li>

                        </ul>
                    </div><!--.tabs-section-nav-->

                    <div class="tab-content no-styled profile-tabs">

                        <div class="tab-pane active">
                            <div class="box-typical">
                                <ui-view></ui-view>
                            </div>
                        </div><!--.tab-pane-->

                    </div><!--.tab-content-->
                </section><!--.tabs-section-->
            </div>
        </div><!--.row-->
    </div><!--.container-fluid-->
</div><!--.page-content-->