<form ng-submit="saveSection()">
    <section class="box-typical-section">
        <header class="box-typical-header-sm">Edit Section</header>
    </section>
    <section class="box-typical-section">
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">order_book_section</label>
            </div>
            <div class="col-xl-4">
                <input class="form-control" type="number" ng-model="section.order_book_section" value="1">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">book_section</label>
            </div>
            <div class="col-xl-4">
                <input class="form-control" required type="text" ng-model="section.book_section">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-2">
                <label class="form-label">description_book_section</label>
            </div>
            <div class="col-xl-6">
                <textarea rows="2" class="form-control" ng-model="section.description_book_section"></textarea>
            </div>
        </div>

    </section>

    <section class="box-typical-section profile-settings-btns">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" ui-sref="app.book.management.detail.content" class="btn btn-default">Back</button>
    </section>
</form>