<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.book.management.edit'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>book</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.book.management">List</a></li>
                            <li class="active">add</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.book.management.add" type="button" class="btn btn-rounded btn-block">Create</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    Add new book
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >title_book</label>
                        <input type="text" class="form-control" ng-model="book.title_book">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >org_price</label>
                        <input type="number" class="form-control" ng-model="book.org_price">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >actual_price</label>
                        <input type="number" class="form-control" ng-model="book.actual_price">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >date_publish</label>
                        <input type="text" datepicker="" class="form-control" ng-model="book.date_publish">
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >description</label>
                        <textarea class="form-control" ng-model="book.description"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_publisher</label>
                        <select class="form-control select2" required="" select2 ng-model="book.id_publisher"
                                ng-options="x.id_publisher as (x.first_name +' ' + x.last_name) for x in master.publisher">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_team</label>
                        <select class="form-control select2" required="" select2 ng-model="book.id_team"
                                ng-options="x.id_publisher_team as (x.name_publisher_team) for x in master.team">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>

                    <div class="form-group row">
                        <div class="col-xl-6">
                            <label class="form-label">Status</label>
                        </div>
                        <div class="col-xl-6">
                            <div class="checkbox-bird">
                                <input type="radio" value="draft" name="status" ng-model="book.status" id="draft">
                                <label for="check-bird-html">draft</label>
                            </div>
                            <div class="checkbox-bird">
                                <input type="radio" value="active" name="status" ng-model="book.status" id="check-bird-html">
                                <label for="check-bird-html">active</label>
                            </div>
                            <div class="checkbox-bird">
                                <input type="radio" value="inactive" name="status" ng-model="book.status" id="check-bird-video">
                                <label for="check-bird-video">inactive</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>