<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.ticket.management'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>ticket</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ng-click="filter('open')" type="button" class="btn btn-rounded  ">
                            Open
                        </button>
                        <button ng-click="filter('close')" type="button" class="btn btn-rounded   btn-default">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </header>

        <section class="card mb-3">
            <header class="card-header card-header-lg">
                List ticket
            </header>
            <div class="card-block">
                <table my-data-table="" class="display table table-bordered dataTable dtr-inline">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Tanggal</th>
                        <th>Pertanyaan</th>
                        <th data-priority="1" class="text-right"><a class="fa fa-ellipsis-v"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td>
                            <label class="btn btn-sm btn-{{x.ticket_status | status_bg}}">{{x.ticket_status}}</label>
                        </td>
                        <td>{{x.name}}</td>
                        <td>{{x.created_at | Mydate}}</td>
                        <td>{{x.title_ticket}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-inline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ui-sref="app.book.management.detail.ticket_detail({id_ticket:x.id_ticket, id_book:x.id_book})">view</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div><!--.container-fluid-->
</div>