<ui-view></ui-view>
<div class="page-content" ng-show="$state.current.name === 'app.ticket.management.edit'">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>ticket</h3>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><a href="#">Home</a></li>
                            <li><a ui-sref="app.ticket.management">List</a></li>
                            <li class="active">edit</li>
                        </ol>
                    </div>
                    <div class="tbl-cell tbl-cell-action button">
                        <button ui-sref="app.ticket.management" type="button" class="btn btn-rounded btn-default btn-block">Close</button>
                    </div>
                </div>

            </div>
        </header>

        <form ng-submit="submitForm()">
            <section class="card mb-3 card-xs">
                <header class="card-header card-header-lg">
                    edit ticket
                </header>
                <div class="card-block">
                    <fieldset class="form-group">
                        <label class="form-label semibold" >first_name</label>
                        <input type="text" class="form-control" ng-model="ticket.first_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >last_name</label>
                        <input type="text" class="form-control" ng-model="ticket.last_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >public_name</label>
                        <input type="text" class="form-control" ng-model="ticket.public_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >title_ticket</label>
                        <input type="text" class="form-control" ng-model="ticket.title_ticket">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >phone_number</label>
                        <input type="text" class="form-control" ng-model="ticket.phone_number">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >mail_ticket</label>
                        <input type="text" class="form-control" ng-model="ticket.mail_ticket">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >join_date</label>
                        <input type="text" datepicker="" class="form-control" ng-model="ticket.join_date">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" >id_company</label>
                        <select class="form-control select2" required="" select2 ng-model="ticket.id_company"
                                ng-options="x.id_company as x.name_company for x in master.company">
                            <option value="">-- please choose --</option>
                        </select>
                    </fieldset>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-inline"><i class="fa fa-save"></i> Save</button>
                </div>

            </section>
        </form>

    </div><!--.container-fluid-->
</div>